/* Sticky footer */

* {margin:0;padding:0;}

/* must declare 0 margins on everything, also for main layout components use padding, not
vertical margins (top and bottom) to add spacing, else those margins get added to total height
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {/*overflow-y:auto;*/
  padding-bottom: 290px;}  /* must be same height as the footer */

#footer {position: relative;
  margin-top: -290px; /* negative value of footer height */
  clear:both;}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}



body {
  /*background: url(../img/bg/grey.png) top;*/
  padding-bottom: 0;
  padding-top: 0;
  overflow-x: hidden;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.header {
  height: 200px;
  font-family: 'Ubuntu',Tahoma,sans-serif;
}

.header h1 {
  font-family: 'Londrina Sketch', cursive;
  font-size: 72px;
  color: #ddd;
  position: absolute;
  left: 80px;
  right: 0;
  line-height: 100px;
  text-shadow: 2px 2px 4px #222;
  white-space: nowrap;
  margin-top: 25px;
  padding: 0 20px;
  border-radius: 5px;
  background: rgba(0,0,0,.25);
}

.header small {
  color: rgba(255,255,255,.7);
  font-family: cursive;
  color: #bbb;
}

.navbar {
  padding-top: 160px;
  margin-bottom: 0;
  z-index: 2;
}
.navbar.affix {
  padding-top: 0;
  left: 80px;
  right: 0;
  width: initial;
}

@media screen and (max-width: 780px){
  .navbar.affix {
    left: 0;
    margin-left: -20px;
  }
  .ribbon-edge-bottomleft {
    display: none;
  }
}

@media screen and (min-width: 780px){
  .pull-righty {
    margin-left: 80px;
  }
}

.form-search {
  margin-right: 12px;
}
@media screen and (max-width: 1350px){
  .form-search {
    display: none !important;
  }
}

/*#top-menu {
  height: 40px;
  overflow: hidden;
}*/

.navbar-inner {
  border-radius: 0;
  opacity: 0.95;
  background-color: #D44413;
  background-image: -moz-linear-gradient(top, #F18865, #EB5825);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F18865), to(#EB5825));
  background-image: -webkit-linear-gradient(top, #F18865, #EB5825);
  background-image: -o-linear-gradient(top, #F18865, #EB5825);
  background-image: linear-gradient(to bottom, #F18865, #EB5825);
  border-radius: 4px 0 0 4px;
}

.content {
  height: 200px;
  background: #ddd;
}

.section {
  margin-bottom: 20px;
  font-size: 90%;
  /*min-height: 800px;*/
  /*background: url(../img/bg/light_wool.png);*/
}

#main {
  /*box-shadow: 0 2px 100px rgba(0, 0, 0, 0.5) inset;*/
}

#main.default {
  background: #333 url(../img/bg/low_contrast_linen.png);
}

#main.lsd {
  background: url(../img/themes/lsd/1_top.jpg) no-repeat top left,
              url(../img/themes/lsd/2_left.jpg) no-repeat left 165px,
              #000;
}

#centerblock {
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding: 16px;
  /*box-shadow: 0 2px 30px #777;*/
  min-height: 580px;
}

#footer {
  position: relative;
  height: 250px;
  padding-top: 20px;
  padding-bottom: 60px;
  color: #eee;
  background: #2a2a2a url(../img/bg/navy_blue.png);
  -webkit-box-shadow: 0 8px 6px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 8px 6px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
}

#footer a:hover {
  text-decoration: none;
}

/*#footer:after {
  content: "Les Scorpions du Désert";
  position: absolute;
  bottom: 20px;
  font-weight: bold;
  font-size: 120px;
  line-height: 120px;
  color: #353535;
  text-shadow: 1px 1px 3px #3a3a3a;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: -6px;
}*/



/* Recrutement */

#recrutement {
  position: absolute;
  right: 0;
  margin: 20px;
  background: #ddd;
  background: rgba(255,255,255,.8);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 3px #743621;
}

#recrutement span {
  color: #333;
  text-shadow: 1px 1px #eee;
  padding: 0 15px;
}



/* 10 ans */

.birthday a {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  position: absolute;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 12em;
  height: 2.6em;
  line-height: 2.6em;
  top: 5.5em;
  left: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;

  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  border: 1px solid #631A15;
  background: #C73B3C;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #C73B3C), color-stop(100%, #B8201F));
  background: -webkit-linear-gradient(#C73B3C, #B8201F);
  background: -moz-linear-gradient(#C73B3C, #B8201F);
  background: -o-linear-gradient(#C73B3C, #B8201F);
  background: linear-gradient(#C73B3C, #B8201F);
  box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.6);

  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -ms-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  -transition: opacity .3s ease;
}

.birthday a::before {
  top: 3px;
  width: 100%;
  height: 0;
  content: "";
  position: absolute;
  display: block;
  border: 1px dashed;
  border-left: 0;
  border-right: 0;
  border-top-color: #631A15;
  border-bottom-color: #DA5050;
}
.birthday a::after {
  bottom: 3px;
  width: 100%;
  height: 0;
  content: "";
  position: absolute;
  display: block;
  border: 1px dashed;
  border-left: 0;
  border-right: 0;
  border-top-color: #631A15;
  border-bottom-color: #DA5050;
}
.birthday a:hover {
  text-decoration: none;
  opacity: .8;
}



/* News */

.article-info-term {
  display: none;
}

.article-info .published,
.article-info .createdby {
  color: #999;
  font-style: italic;
}

.items-leading h2 {
  display: inline-block;
}

ul.actions {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
}

.tip-wrap {
  background: #EEE;
  padding: 10px;
  border: 2px solid #CCC;
}

.items-row {
  clear: both;
}

.items-row .item {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.blog-featured h2 {
  margin-bottom: 0;
}

.article-info dd {
  display: inline-block;
  margin-left: 0;
}

/* Tribune */

#KIDE_div,
#mumbleViewer {
  padding: 10px;
  background: #fff;
  border: 1px solid silver;
  margin-bottom: 20px;
}

#rightblock {
  bottom: -33px;
  right: 0;
  z-index: 1;
  height: 100%;
  padding-top: 8px;
  position: absolute;
  top: 193px;
}

#rightblock.fixed {
  position: fixed;
  top: 33px;
}

#rightblock h4 {
  color: #eee;
}

/*
.affix #KIDE_div {
  position: absolute;
  top: 202px;
  border-width: 0 0 0 1px;
}*/

#kideForm {
  margin-bottom: 40px;
  -webkit-transition: margin .1s ease;
  -moz-transition: margin .1s ease;
  -ms-transition: margin .1s ease;
  -o-transition: margin .1s ease;
  -transition: margin .1s ease;
}

#kideForm.active {
  margin-top: -30px;
  margin-bottom: 70px;
}

#kideForm.active #KIDE_botones,
#kideForm.active #KIDE_tiempo_p {
  opacity: 0;
}

#KIDE_text {
  position: absolute;
  bottom: 30px;
}

#KIDE_div {
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  z-index: 1;
  /*box-shadow: 0 1px 3px silver;*/
}

#KIDE_div h4 {
  margin: -11px -11px 10px;
  padding: 9px 11px 9px;
  box-shadow: 0 2px 5px #7E2406 inset;
  text-shadow: 1px 1px #CE4213;
  font-size: 14px;
  line-height: 14px;
  background-color: #D44413;
  background-image: -moz-linear-gradient(top, #CE4213, #DD4814);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CE4213), to(#DD4814));
  background-image: -webkit-linear-gradient(top, #CE4213, #DD4814);
  background-image: -o-linear-gradient(top, #CE4213, #DD4814);
  background-image: linear-gradient(to bottom, #CE4213, #DD4814);
  background-repeat: repeat-x;
  color: #EEE;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}

#KIDE_msgs {
  overflow-y: auto;
  margin-top: 10px;
}

#KIDE_output {
  font-family: arial;
  font-size: 11px;
  line-height: 11px;
}

#KIDE_txt {
  position: fixed;
  bottom: -2px;
  height: 15px;
  margin-top: 0px;
  margin-bottom: 9px;
  font-size: 12px;
  font-family: arial;
  line-height: 16px;
  margin-top: 10px;
  overflow: hidden;
  -webkit-transition: height .1s ease;
  -moz-transition: height .1s ease;
  -ms-transition: height .1s ease;
  -o-transition: height .1s ease;
  -transition: height .1s ease;
  margin-left: 30px;
  width: 80%;
  max-width: 260px;
}

.fixed #KIDE_txt {
  position: absolute;
  bottom: 31px;
}

#KIDE_txt:focus {
  height: 48px;
}

#KIDE_button_send {
  display: none;
}

#KIDE_div br {
  display: none;
}

#KIDE_tiempo_p {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 10px;
  margin: 5px 0 0;
  color: #999;
  font-family: arial;
  width: 180px;
  max-width: 43%;
  line-height: 11px;
  text-align: right;
}

.KIDE_admin {
  color: red;
}

.KIDE_registered {
  color: blue;
}

#KIDE_output > div {
  margin-bottom: 2px;
}

#KIDE_div #shoutbox_switcher {
  float: right;
}

#KIDE_div.inactive #kideForm {
  display: none;
}

#KIDE_iconos {
  position: fixed;
  bottom: 7px;
  margin-top: 18px;
  display: block;
  width: 15px;
  height: 19px;
  background: #eee;
  overflow: hidden;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid lightGrey;
}

.fixed #KIDE_iconos {
  position: absolute;
  bottom: 40px;
}

#KIDE_iconos:hover {
  width: 74px;
  height: auto;
}

#KIDE_mensaje {
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#KIDE_output > div > span[title]::before {
  content: attr(title);
  color: #bbb;
  font-size: 9px;
  float: right;
  line-height: 30px;
  padding-left: 5px;
}

#KIDE_output + div {
  display: none;
}



/* Recherche */

.search-query {
  width: 150px;
}

.highlight {
  background: #ffd;
  padding: 2px 4px;
}



/* Billets récents */

.klatest-itemdetails {
  height: 48px;
}

.klatest-avatar {
  float: left;
}

.klatest-items {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}

.klatest-subject a {
  font-size: 14px;
  font-weight: initial;
}

.klatest-avatar img {
  width: 36px;
}



/* Online members */

.mod_login {
  margin-left: 0;
  list-style: none;
}

.mod_login li {
  display: inline-block;
}

.mod_login li:after {
  content: ', ';
  color: #ccc;
}

.mod_login li:last-child:after {
  display: none;
}



/* Effet ruban */

.ribbon-wrapper {
  position: relative;
}

.ribbon-edge-bottomleft {
  position: absolute;
  z-index: 1;
  border-style:solid;
  height:0px;
  width:0px;
  top: 40px;
  left: -1px;
  border-color: transparent #9F3913 transparent transparent;
  border-width: 0 20px 10px 0;
}



/* FORUM */

blockquote {
  background: #fafafa;
}
blockquote p {
  font-size: 12px;
}
sup {
  vertical-align: initial !important;
}
.jr-forum-stat-bar {
  height: 17px;
}
#Kunena + div {
  display: none;
}
.kcol-kcattopics,
.kcol-kcatreplies,
.kcol-ktopicviews {
  display: table-cell !important;
}
#Kunena .kbuttononline-yes {
  background: rgb(50,200,100) !important;
}
#Kunena .kbuttononline-no {
  background: grey !important;
}



/* ACHIEVEMENTS */

.achievements {
  position: absolute;
  width: 32px;
}

.achievements .badge {
  width: 32px;
  height: 32px;
  background: center no-repeat;
  background-size: 60%;
  float: left;
}

.achievements .badge.petites-roulettes  { background-image: url(../img/badges/badge-1.png) }
.achievements .badge.classe             { background-image: url(../img/badges/badge-2.png) }
.achievements .badge.alumettes          { background-image: url(../img/badges/badge-3.png) }
.achievements .badge.doigts             { background-image: url(../img/badges/badge-4.png) }
.achievements .badge.bbq                { background-image: url(../img/badges/badge-5.png) }
.achievements .badge.love               { background-image: url(../img/badges/badge-6.png) }
.achievements .badge.clef               { background-image: url(../img/badges/badge-7.png) }
.achievements .badge.timing             { background-image: url(../img/badges/badge-8.png) }
.achievements .badge.scribe             { background-image: url(../img/badges/badge-9.png) }
.achievements .badge.attirant           { background-image: url(../img/badges/badge-10.png) }
.achievements .badge.fax                { background-image: url(../img/badges/badge-11.png) }
.achievements .badge.clin-doeil         { background-image: url(../img/badges/badge-12.png) }
.achievements .badge.realisateur        { background-image: url(../img/badges/badge-13.png) }
.achievements .badge.rockstar           { background-image: url(../img/badges/badge-14.png) }
.achievements .badge.renommee           { background-image: url(../img/badges/badge-15.png) }
.achievements .badge.thune              { background-image: url(../img/badges/badge-16.png) }
.achievements .badge.photographe        { background-image: url(../img/badges/badge-17.png) }
.achievements .badge.suisse             { background-image: url(../img/badges/badge-18.png) }
.achievements .badge.flood              { background-image: url(../img/badges/badge-19.png) }
.achievements .badge.joueur-lol         { background-image: url(../img/badges/badge-lol.png) }
.achievements .badge.joueur-ps2         { background-image: url(../img/badges/badge-ps2.png) }
.achievements .badge.merde              { background-image: url(../img/badges/badge-shit.png) }

/* CIEL event */

.ciel-winner {
  display: inline-block;
  background-color: #F0CF4C;
  margin: 10px 0;
  padding-bottom: 22px;
  box-shadow: #B3945D 0 0 20px, #5C4706 0 0 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #FCEABB;
  background: -moz-radial-gradient(center, ellipse cover, #FCEABB 0%, #FCCD4D 78%, #F8B500 89%, #FBDF93 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#FCEABB), color-stop(78%,#FCCD4D), color-stop(89%,#F8B500), color-stop(100%,#FBDF93));
  background: -webkit-radial-gradient(center, ellipse cover, #FCEABB 0%,#FCCD4D 78%,#F8B500 89%,#FBDF93 100%);
  background: -o-radial-gradient(center, ellipse cover, #FCEABB 0%,#FCCD4D 78%,#F8B500 89%,#FBDF93 100%);
  background: -ms-radial-gradient(center, ellipse cover, #FCEABB 0%,#FCCD4D 78%,#F8B500 89%,#FBDF93 100%);
  background: radial-gradient(ellipse at center, #FCEABB 0%,#FCCD4D 78%,#F8B500 89%,#FBDF93 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 );
}

.ciel-winner::after {
  content: "Maître du CIEL";
  position: absolute;
  margin-top: 68px;
  padding: 2px;
  border-radius: 5px;
  margin-left: -73px;
  color: #8B3013;
  font-size: 10px;
  font-weight: bold;
  font-family: verdana;
  font-weight: bold;
  letter-spacing: -1px;
  text-shadow: rgba(255, 255, 255, 0.7) 1px 1px;
}

/* Search page */

#searchForm label {
  display: inline-block;
}

/* Calendar */

.jevtip {
  background: lightgoldenrodyellow;
}




/* Account */

#account {
  position: absolute;
  right: 20px;
  top: 70px;
  background: rgba(255,255,255,.75);
  border-radius: 5px;
  padding: 8px 10px;
}
#account > a {
  color: #333;
}
#account > a:hover {
  text-decoration: none;
}
#account img.avatar {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: -15px 5px -15px;
  border-radius: 3px;
  box-shadow: #555 0 0 5px;
}
